.codeclimate.yml
.editorconfig
.eslintignore
.eslintrc.yaml
.gitignore
.idea/**/*
.nvmrc
.nyc_output/**/*
.nycrc
.travis.yml
.vscode/**/*
__*
__*/**/*
*.vsix
cli-test-mocha.opts
coverage/**/*
images/animations/**/*
jsconfig.json
package-lock.json
tag-release.sh
test/**/*
typings/**/*
