.codeclimate.yml
.editorconfig
.gitignore
.idea/**/*
.nvmrc
.nyc_output/**/*
.nycrc
.travis.yml
.vscode/**/*
__*
__*/**/*
*.vsix
.mocharc.json
coverage/**/*
images/animations/**/*
yarn.lock
yarn-*.log
tag-release.sh
src/**/*
out/test/**/*
out/**/*.map
tsconfig.json
tslint.json
