.idea/**
.vscode/**
.nyc_output/**
typings/**
test/**
coverage/**
images/animations/**
images/screencaptures/**
__*
.gitignore
.editorconfig
.eslintrc.yaml
.eslintignore
.codeclimate.yml
.travis.yml
.nvmrc
jsconfig.json
